<template>
  <v-layout>
      <div v-html="posts"></div>
      <div v-html="post2"></div>
  </v-layout>
</template>

<script>
import posts from '../posts/_history/2017-10-20-welcome-to-jekyll.md'
import post2 from '../posts/_history/2017-10-13-test.md'

export default {
  computed: {
    posts () {
      return posts
    },
    post2 () {
      return post2
    }
  }
}
</script>

<style>

</style>
